{% extends 'predict/index.html' %}

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

{% block content %}
<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">
                {{ ticker }}
            </h1>
        </div>
    </div>
</div>
<!-- END Hero -->

<!-- Page Content -->
<div class="content">
    <!-- Your Block -->
    <div class="block block-rounded">
        <div class="block-header">
            <h3 class="block-title">
                Predicted Value
            </h3>
        </div>
        <div class="block-content">
            <p>${{ predictions }}</p>
        </div>
    </div>

    <div class="block block-rounded">
        <div class="block-header">
            <h3 class="block-title">
                Graph
            </h3>
        </div>
        <div class="block-content">
            <img src="data:image/png;base64,{{ img }}" alt="">
        </div>
    </div>
    <!-- END Your Block -->
</div>
<!-- END Page Content -->
{% endblock %}